In [1]:
5+5

10

In [2]:
5-5

0

In [3]:
5*5

25

In [4]:
5**5

3125

In [5]:
5**2

25

In [6]:
5/5

1.0

5%5

In [7]:
5%5

0

In [8]:
type(13)

int

In [10]:
type("PHA")

str

In [12]:
type(True)

bool

In [13]:
a='john'
print(a)

john

In [14]:
type(123.32)

float

In [15]:
#variable assignment
a=10.11
type(a)

float

In [16]:
a='john'
type(a)

str

In [17]:
#mathematical operatin with variable assignment
a=10
b=15
c=a+b
d=b-a
e=a*b
print(c)
print(d)
print(e)

25
5
150

In [21]:
print(a/b)
print(a*b)

0.6666666666666666
150

In [23]:
print((a*b)+(a/b))#bodmas

150.66666666666666

In [26]:
f_name="Kodali"
l_name="raghuveer"

In [27]:
print("my first name is {} and lastname is {}".format(f_name,l_name))

my first name is Kodali and lastname is raghuveer

In [28]:
print("my first name is", f_name,"and last name is", l_name)

my first name is Kodali and last name is raghuveer

In [29]:
print("my first name is {a} and lastname is {b}".format(a=f_name,b=l_name))

my first name is Kodali and lastname is raghuveer

In [30]:
len("111111")

6

In [32]:
type(["1",2,2.2])

list

In [33]:
name="phal"
id=1

In [35]:
print("my name is {} and my id is {}".format(name,id))

my name is phal and my id is 1

In [36]:
f"hello {name}.my id is {id}"

'hello phal.my id is 1'

In [37]:
#dict,set..etc
str='phal'
str.startswith('p')

True

In [38]:
str.isalpha()

True

In [41]:
a=['phal',143,24.5]

In [42]:
type(a)

list

In [43]:
len(a)

3

In [46]:
a.append('raghu')#adding one element to the end of the list

In [45]:
a[0]

'phal'

In [50]:
a[0:]#indexing

['phal', 143, 24.5, 'r', 'raghu']

In [51]:
#nested list
a.append(['some','chem'])

In [52]:
a

['phal', 143, 24.5, 'r', 'raghu', ['some', 'chem']]

In [54]:
a[-1]

['some', 'chem']

In [57]:
#insert will add at specific index number 
a.insert(2,'kodali')#first argument index num and then your word or num or..

In [56]:
a

['phal', 143, 'kodali', 24.5, 'r', 'raghu', ['some', 'chem']]

In [59]:
#extend multiple additions to existing lit without nested list
a.extend([8,9])

In [60]:
a

['phal', 143, 'kodali', 'kodali', 24.5, 'r', 'raghu', ['some', 'chem'], 8, 9]

In [62]:
#various operations on list
len(a)

10

In [63]:
sum(a[9:])

9

In [64]:
l=[1,2,3]
product=1
for x in l:
    product*=x

In [65]:
product

6

In [66]:
#pop will remove last index
a.pop()

9

In [67]:
a.pop()

8

In [68]:
a

['phal', 143, 'kodali', 'kodali', 24.5, 'r', 'raghu', ['some', 'chem']]

In [70]:

s=1
for i in l:
    s=s*i
print(s)

6

In [71]:
#multiply list with some number
ml=[i*5 for i in l]

In [72]:
ml

[5, 10, 15]

In [74]:
#count :calculate total ocurences
a=[1,2,3]
b=[]
for i in a:
    j=i*2
    b.append(j)
print(b)

[2, 4, 6]

In [83]:
bl=[1,1,2,3,4,56,7,8,9,10]

In [78]:
bl[0:5]

[1, 2, 3, 4, 56]

In [79]:
bl[-1]

10

In [80]:
bl[-5:-1]

[56, 7, 8, 9]

In [84]:
bl.count(1)

2

In [85]:
bl.count(2)

1